<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HRIS - Requester</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- App Icons -->
        <link rel="shortcut icon" th:href="@{/dist/img/favicon.ico}">
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <div th:replace="fragments/header::css"></div>
</head>
<body>

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>

    <div class="header-bg">

        <div th:replace="fragments/header::header"></div>

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <form class="float-right app-search">
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <h4 class="page-title"> <i class="dripicons-blog"></i> Form Pengisian Data MHS</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

        </div>
    </div>


    <div class="wrapper">
        <div class="container-fluid">
            <!--Reimbursement division-->
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body" style="padding-left: 100px; padding-right: 100px;">
                            <br>
                            <div class="card">
                                <div class="card-header" th:if="${DataMHS!=null}"><b>Data Asli</b></div>
                                <!--Data sebelum-->
                                <div class="card-body" th:if="${DataMHS!=null}">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-2 col-form-label">Nama Mahasiswa</label>
                                        <span class="float-right col-form-label">:</span>
                                        <div class="col-md-4 input-group">
                                            <input  th:if="${DataMHS!=null}" th:value="${DataMHS[1]}" class="form-control periode" type="text" disabled="">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Tahun masuk mhs-->
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-2 col-form-label">Tahun Akademik</label>
                                        <span class="float-right col-form-label">:</span>
                                        <div class="col-md-4 input-group">
                                            <select class="form-control" disabled="">
                                                <option th:if="${DataMHS!=null}" th:value="${DataMHS[4]}" selected="" disabled=""  th:text="${'20'+DataMHS[4]}" ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--jurusan mhs-->
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-md-2 col-form-label">Jurusan Mahasiswa</label>
                                        <span class="float-right col-form-label">:</span>
                                        <div class="col-md-4 input-group">
                                            <select  class="form-control"  disabled="">
                                                <option th:if="${DataMHS!=null}" th:value="${DataMHS[3]}" th:text="${DataMHS[3]}" selected="" disabled=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header"><b>Form Pengisian</b></div>
                                <div class="card-body">
                                    <form action="/mhs/form/s" method="POST" enctype="multipart/form-data">
                                        <!--Nama mahasiswa-->
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Nama Mahasiswa</label>
                                            <span class="float-right col-form-label">:</span>
                                            <div class="col-md-4 input-group">
                                                <input  th:if="${DataMHS!=null}" th:value="${DataMHS[1]}" class="form-control periode" type="text" id="namaMHS" name="namaMHS">
                                                <input  th:unless="${DataMHS!=null}"  class="form-control periode" type="text" id="namaMHS" name="namaMHS">
                                                <input th:if="${DataMHS!=null}" th:value="${DataMHS[0]}" class="form-control periode" type="text" id="id_mhs" name="id_mhs" hidden="" >
                                                <input th:unless="${DataMHS!=null}" value="0" class="form-control periode" type="text" id="id_mhs" name="id_mhs"  hidden="">
                                                <input th:if="${DataMHS!=null}" th:value="${DataMHS[2]}" class="form-control periode" type="text" id="nik_mhs" name="nik_mhs"  hidden="">
                                                <input th:unless="${DataMHS!=null}" value="0" class="form-control periode" type="text" id="nik_mhs" name="nik_mhs"  hidden="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Tahun masuk mhs-->
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Tahun Akademik</label>
                                            <span class="float-right col-form-label">:</span>
                                            <div class="col-md-4 input-group">
                                                <select class="form-control" id="tahunMHS" name="tahunMHS" >
                                                    <option th:if="${DataMHS!=null}" th:value="${DataMHS[4]}" selected="" th:text="${'20'+DataMHS[4]}" ></option>
                                                    <option th:unless="${DataMHS!=null}" value="" selected="" disabled="">Pilih Tahun Akademik</option>
                                                    <option value="17">2017</option>
                                                    <option value="18">2018</option> 
                                                    <option value="19">2019</option> 
                                                    <option value="20">2020</option> 
                                                </select>
                                            </div>
                                        </div>
                                        <!--jurusan mhs-->
                                        <div class="form-group row">
                                                <label for="example-text-input" class="col-md-2 col-form-label">Jurusan</label>
                                                <span class="float-right col-form-label">:</span>
                                                <div class="col-md-4 input-group">
                                                    <input th:if="${DataMHS != null}" th:value="${DataMHS[3]}"  class="form-control" id="jurusanMHS" name="jurusanMHS" type="text" >
                                                    <input th:unless="${DataMHS != null}" class="form-control" id="jurusanMHS" name="jurusanMHS"  type="text" >
                                                    <input class="form-control" id="jurusanID" name="jurusanID" value="0" type="text"  hidden="">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="fa fa-file"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="text-center" style="margin-top: 40px;">
                                            <!--<button id="alertsave" type="button" class="btn btn-primary w-md waves-effect waves-light">Submit</button>-->
                                            <button type="button" id="alertsave" class="btn btn-info">Add/Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container -->

            <!--</div>-->
        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->


    <!-- Footer -->
    <div th:replace="fragments/footer::footer"></div>
    <!-- End Footer -->

    <div th:replace="fragments/footer::js"></div>
    <script th:src="@{/dist/js/session.js}"></script>  

    <!-- App js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
    <script>

        $('#alertsave').on('click', function () {
            var form = $(this).parents().find('form');
            Swal.fire({
                title: 'Are you sure to save this data?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, submit!'
            }).then((result) => {
                if (result.value) {
                    form.submit();
                    Swal.fire(
                            'Submitted!',
                            'Your file has been submitted.',
                            'success'
                            )
                }
            });
        });


    </script>
     <script>
        $("#jurusanMHS").autocomplete({
            source: "getlistjurusan",
             select: function (event, ui) {
                document.getElementById("jurusanID").value = ui.item.id;
            }
        });
    </script>
</body>
</html>


