<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HRIS - Requester</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- App Icons -->
        <link rel="shortcut icon" th:href="@{/dist/img/favicon.ico}">
        <link th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <div th:replace="fragments/header::css"></div>
</head>
<body>

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>

    <div class="header-bg">

        <div th:replace="fragments/header::header"></div>

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <form class="float-right app-search">
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <h4 class="page-title"> <i class="dripicons-blog"></i> Form Pengisian Data Nilai MHS</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

        </div>
    </div>


    <div class="wrapper">
        <div class="container-fluid">
            <!--Reimbursement division-->
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body" style="padding-left: 100px; padding-right: 100px;">
                            <br>
                            <form action="/nilai/form/s" method="POST" enctype="multipart/form-data">
                                <div class="card">
                                    <div class="card-header" ><b>Data Mahasiswa</b></div>
                                    <!--Data sebelum-->
                                    <div class="card-body" >
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Nama Mahasiswa</label>
                                            <span class="float-right col-form-label">:</span>
                                            <div class="col-md-4 input-group">
                                                <input class="form-control" id="namaMHS" name="namaMHS" type="text" >
                                                <input  class="form-control" id="NIM" name="NIM" type="text" hidden="" >
                                                <input  class="form-control" id="Jurusan" name="Jurusan" type="text" hidden="" >
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Tahun masuk mhs-->
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">NIM</label>
                                            <span class="float-right col-form-label">:</span>
                                            <div class="col-md-4 input-group">
                                                <input  class="form-control" id="nim" name="nim" type="text" disabled="" >
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-file-code-o"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Jurusan</label>
                                            <span class="float-right col-form-label">:</span>
                                            <div class="col-md-4 input-group">
                                                <input  class="form-control" id="jurusan" name="jurusan" type="text" disabled="" >
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-file"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header"><b>Form Nilai</b></div>
                                    <div class="card-body">

                                        <!--Nama mahasiswa-->
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Mata Kuliah</label>
                                            <span class="float-right col-form-label">:</span>
                                            <div class="col-md-4 input-group">
                                                <input  class="form-control" type="text" value=""  id="matkul" name="matkul">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-file"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Nilai UTS</label>
                                            <span class="float-right col-form-label">:</span>
                                            <div class="col-md-4 input-group">
                                                <input  class="form-control" type="text" value=""  id="uts" name="uts">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-file"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Tahun masuk mhs-->
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Nilai UAS</label>
                                            <span class="float-right col-form-label">:</span>
                                            <div class="col-md-4 input-group">
                                                <input  class="form-control" type="text"  value="" id="uas" name="uas">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-file"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--jurusan mhs-->
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">Nilai Harian</label>
                                            <span class="float-right col-form-label">:</span>
                                            <div class="col-md-4 input-group">
                                                <input  class="form-control" type="text" value="" id="harian" name="harian">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-file"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center" style="margin-top: 40px;">
                                            <!--<button id="alertsave" type="button" class="btn btn-primary w-md waves-effect waves-light">Submit</button>-->
                                            <button type="button" id="alertsave" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container -->

            <!--</div>-->
        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->


    <!-- Footer -->
    <div th:replace="fragments/footer::footer"></div>
    <!-- End Footer -->

    <div th:replace="fragments/footer::js"></div>
    <script th:src="@{/dist/js/session.js}"></script>  

    <!-- App js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
    <script>

        $('#alertsave').on('click', function () {
            var form = $(this).parents().find('form');
            Swal.fire({
                title: 'Are you sure to save this data?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, submit!'
            }).then((result) => {
                if (result.value) {
                    form.submit();
                    Swal.fire(
                            'Submitted!',
                            'Your file has been submitted.',
                            'success'
                            )
                }
            });
        });


    </script>

    <script>
        $("#namaMHS").autocomplete({
            source: "getlistmhs",
            select: function (event, ui) {
                document.getElementById("nim").value = ui.item.nim;
                document.getElementById("NIM").value = ui.item.nim;
                document.getElementById("jurusan").value = ui.item.jurusan;
                document.getElementById("Jurusan").value = ui.item.jurusan;
            }
        });
    </script>
    <script>
        $("#matkul").autocomplete({
            source: "getmatkul"
        });
    </script>
</body>
</html>


